@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');  /* Open Sans */
*,
*before,
*after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-opensans: "Open Sans", sans-serif;
    /* --color-prim: #; */
    --color-sec: #00C4FF;
    --color-info: #114232;
}
body{
    font-family: var(--font-opensans);
    background-color: var(--color-sec);
}